<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
       
        <script src="https://code.jquery.com/jquery.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"></link>
        <title>sc3.net</title>
    </head>
<body> 
    {{{ body }}}
</body>

</html>
