<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
       
{{!-- REACT ELEMENT IMPORT --}}
<script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
{{!-- <script src="/../src/react-posts.js"></script> --}}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="../src/mrkrabs.js"></script>
        <script src="https://code.jquery.com/jquery.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"></link>
        <title>sc3.net</title>
    </head>
<body> 
    {{{ body }}}
</body>

</html>
