<nav>
    <div class="nav-wrapper blue-grey lighten-1">
      <a href="#" class="brand-logo right">sc3.net</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="/feed">Home</a></li>
        <li><a href="/about">About</a></li>
   
         <li><a href="/profile">Profile</a></li>
      </ul>
    </div>
  </nav>
<div class="container" id="404">
  {{!-- <div class="jumbotron mt-4"> --}}
    <h1 class="display-4 text-center">404 Not Found
    </h1>
   <a class="waves-effect waves-light btn  blue-grey darken-3" href="/feed">← Back To Home</a>
  {{!-- </div> --}}
</div>
