<nav>
    <div class="nav-wrapper blue-grey lighten-1">
      <a href="#" class="brand-logo right">sc3.net</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="/feed">Home</a></li>
        <li><a href="/about">About</a></li>
         <li><a href="/profile">Profile</a></li>
      </ul>
    </div>
  </nav>
  <h2>This is an about page.</h2>