<nav>
    <div class="nav-wrapper blue-grey lighten-1">
      <a href="#" class="brand-logo right">sc3.net</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="/feed">Home</a></li>
        <li><a href="/about">About</a></li>
         <li><a href="/profile">Profile</a></li>
          <li> <a href="/" class="waves-effect waves-light btn  deep-orange">SIGN OUT</a></li>
      </ul>
    </div>
  </nav>
  <div class="row">
   <div class="col s8 offset-s1 ">
  <h3>About Sc3net</h3>
  <p>This site is meant for families to post important updates to share with a smaller audience than most social media.</p>
  </div>
  </div>