<div class="row login">
        <div class="col s12 14 offset-14">
            <div class="card">
                <div class="card-action blue-grey lighten-1 white-text">
                    <h3>Login</h3>
                </div>
                <div class="card-content">
                  <form action="/feed"> 
                    <div class="form-field">
                        <label for="email">Email</label>
                        <input class="email" type="email" id="email" >
                    </div><br>
                    <div class="form-field">
                        <label for="password">Password</label>
                        <input class="password" type="text" id="password" >
                    </div><br>
                    <div class="form-field center align">
                        <button class="btn-large blue-grey darken-3" type="submit" id="login" href="/feed">Login</button>
                    </div><br>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery.js"></script>
   
    